{% load static %}
{% comment %} {% load humanize %} {% endcomment %}
 {% comment %} <\Navigation> {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">AI News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                {% comment %} <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'news:news_list' %}">Home</a></li> {% endcomment %}
                <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->

                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link"  href="#">Logged in as {{request.user.username}}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:custom_logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:custom_login' %}"> Login </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:custom_register' %}">Register</a></li>
                {% endif %}

            </ul>

            
        </div>
    </div>
</nav>